<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/normalize.css" />
    <link rel="stylesheet" href="./styles/tailwind.css" />
    <link rel="stylesheet" href="./styles/style.css" />

    <title>NeuroMidi: Создай midi с NeuroMidi</title>
  </head>
  <body>
    <header class="border-b-2 mb-5 relative bg-white" style="z-index: 100">
      <div class="my_container">
        <div
          class="flex justify-between items-center px-2 h-[115px] sm:px-[0px]"
        >
          <a href="/">
            <image src="./assets/logo.svg" width="132" height="80" alt="LOGO" />
          </a>
          <nav>
            <ul class="hidden sm:flex gap-8 font-medium text-lg">
              <li>
                <a href="#main">ГЛАВНАЯ</a>
              </li>
              <li>
                <a href="#about">О ПРОЕКТЕ</a>
              </li>
              <li>
                <a href="#contacts">КОНТАКТЫ</a>
              </li>
            </ul>
            <button
              class="sm:hidden flex gap-[6px] mr-2 flex-col"
              onclick="openNavMenu()"
            >
              <div class="h-[6px] w-[40px] bg-black"></div>
              <div class="h-[6px] w-[40px] bg-black"></div>
              <div class="h-[6px] w-[40px] bg-black"></div>
            </button>
          </nav>
        </div>
      </div>
    </header>
    <ul id="MobileNavMenu" class="mobile__nav__menu" style="top: -50px">
      <li>
        <a href="#main">ГЛАВНАЯ</a>
      </li>
      <li>
        <a href="#about">О ПРОЕКТЕ</a>
      </li>
      <li>
        <a href="#contacts">КОНТАКТЫ</a>
      </li>
    </ul>
    <main>
      <div class="my_container">
        <section id="main"></section>

        <section id="about"></section>

        <section id="contacts"></section>
      </div>
    </main>
    <footer></footer>
    <script>
      function openNavMenu() {
        var x = document.getElementById("MobileNavMenu");
        if (x.style.top === "-50px") {
          x.style.top = "115px";
        } else {
          x.style.top = "-50px";
        }
      }
    </script>
  </body>
</html>
