<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/normalize.css" />
    <link rel="stylesheet" href="./styles/tailwind.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <title>NeuroMidi: Создай midi с NeuroMidi</title>
  </head>
  <body>
    <header class="border-b-2 mb-5 relative bg-white" style="z-index: 100">
      <div class="my_container">
        <div
          class="flex justify-between items-center px-2 h-[115px] sm:px-[0px]"
        >
          <a href="/">
            <image src="./assets/logo.svg" width="132" height="80" alt="LOGO" />
          </a>
          <nav>
            <ul class="hidden sm:flex gap-8 font-medium text-lg">
              <li>
                <a href="#main">ГЛАВНАЯ</a>
              </li>
              <li>
                <a href="#about">О ПРОЕКТЕ</a>
              </li>
              <li>
                <a href="#contacts">КОНТАКТЫ</a>
              </li>
            </ul>
            <button class="sm:hidden flex mr-2" onclick="openNavMenu()">
              <div class="flex gap-[6px] flex-col" id="NavMenuOpenButton">
                <div class="h-[6px] w-[40px] bg-black"></div>
                <div class="h-[6px] w-[40px] bg-black"></div>
                <div class="h-[6px] w-[40px] bg-black"></div>
              </div>
              <div id="NavMenuExitButton" style="display: none">
                <img src="/assets/exit.svg" alt="" width="40" />
              </div>
            </button>
          </nav>
        </div>
      </div>
    </header>
    <ul
      id="MobileNavMenu"
      class="absolute left-0 bg-black/20 flex flex-col justify-between items-center w-[100dvw] gap-5 py-6 transition-all duration-300 ease-in-out z-10"
      style="top: -50px"
    >
      <li>
        <a onclick="openNavMenu()" href="#main">ГЛАВНАЯ</a>
      </li>
      <li>
        <a onclick="openNavMenu()" href="#about">О ПРОЕКТЕ</a>
      </li>
      <li>
        <a onclick="openNavMenu()" href="#contacts">КОНТАКТЫ</a>
      </li>
    </ul>
    <main>
      <div class="my_container">
        <section id="main"></section>

        <section id="about"></section>

        <section id="contacts"></section>
      </div>
    </main>
    <footer></footer>
    <script>
      function openNavMenu() {
        const x = document.getElementById("MobileNavMenu");
        const o = document.getElementById("NavMenuOpenButton");
        const e = document.getElementById("NavMenuExitButton");
        if (x.style.top === "-50px") {
          x.style.top = "115px";
          e.style.display = "block";
          o.style.display = "none";
        } else {
          x.style.top = "-50px";
          e.style.display = "none";
          o.style.display = "flex";
        }
      }
    </script>
  </body>
</html>
